@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .sniper-square-big {
    width: 29.843vw;
    height: 41.927vw;
    background: $brand-color;
    position: absolute;
    top: 16.296%;
    right: 10.208%;
    border-radius: 1.614vw;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
      font-family: $ubuntu;
      color: white;
      font-weight: 500;
      font-size: 1.470vw;
      margin-top: 5vw;
    }
  }
}
