@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .product-card {
    cursor: pointer;
    height: 95%;
    width: 12.784%;
    min-width: 12.784%;
    margin: 0 1.84% auto 1.84%;
    border-radius: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px #a1a1a1;
    border: 1px rgb(218, 217, 217) solid;
    transform: translateX(calc(-128.3% * var(--clock)));
    transition: all 0.5s ease-out;

    &__img {
      max-height: 80%;
      transition: all 0.5s ease-out;

      &:hover {
        max-height: 95%;
        transition: all 0.2s ease-out;
      }
    }

    

    &__img2 {
      visibility: hidden;
      max-width: .1%;
    }
  }
}
