@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .product-card {
    height: 95%;
    min-width: 30.1%;
    margin: 0 1.457%;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px #a1a1a1;
    border: 1px rgb(231, 231, 231) solid;
    transform: translateX(calc(-109.6% * var(--clock)));
    transition: all 0.5s ease-out;
    cursor: pointer;

    &__img {
      max-height: 80%;
    }

  }
}
