@import "../../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .balls {
    width: 7.314vw;
    height: 25.739vw;
    position: absolute;
    z-index: 20;
    top: 21.195%;
    right: 3.381%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__color1 {
      cursor: pointer;
      height: 7.314vw;
      width: 7.314vw;
      background: var(--color1);
      border-radius: 50%;
    }

    &__color2 {
      cursor: pointer;
      height: 7.314vw;
      width: 7.314vw;
      background: var(--color2);
      border-radius: 50%;
    }

    &__color3 {
      cursor: pointer;
      height: 7.314vw;
      width: 7.314vw;
      background: var(--color3);
      border-radius: 50%;
    }
  }
}
