@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .thumbnail {
    width: 8.385vw;
    max-width: 161px;
    height: 18.802vw;
    max-height: 361px;
    position: absolute;
    top: 18.24%;
    left: 53.281%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    &__img1 {
      width: 8.385vw;
      max-width: 161px;
      height: 8.385vw;
      max-height: 161px;
      border-radius: 1vw;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 2px 2px 2px #a1a1a1;
      border: 1px rgb(218, 217, 217) solid;
    }

    &__img2 {
      width: 8.385vw;
      max-width: 161px;
      height: 8.385vw;
      max-height: 161px;
      border-radius: 1vw;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 2px 2px 2px #a1a1a1;
      border: 1px rgb(218, 217, 217) solid;
    }

    &__picture {
      max-width: 80%;
      transition: all 0.2s ease-in;
    }

    
  }
}
