@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .continue-shopping {
    cursor: pointer;
    width: 30.333vw;
    height: 4.557vw;
    position: absolute;
    top: 12.595%;
    left: 5.208%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 40;

    &__back {
      color: $brand-color;
      font-size: 4vw;
    }

    &__text {
      color: $brand-color;
      font-family: $ubuntu;
      font-weight: 600;
      font-size: 2.597vw;
    }
  }
}
