@import "../../Assets/Sass/variables";

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .blue-square {
    width: 63.02vw;
    height: 88.541vw;
    background: $brand-color;
    border-radius: 1.614vw;
    position: absolute;
    top: 29.394%;
    left: 18.489%;
    z-index: 10;
    transform: translateX(200%);
    transition: all 1s ease-in;

    &__checkout {
      cursor: pointer;
      width: 35.95%;
      height: 6.911%;
      border-radius: 2.5vw;
      background: white;
      position: absolute;
      top: 87.058%;
      left: 55%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    &__text {
      color: $brand-color;
      font-size: 2.864vw;
      font-weight: 600;
      font-family: $ubuntu;
    }

    &__arrow {
      color: $brand-color;
      font-size: 3.864vw;
    }

    &__back {
      cursor: pointer;
      font-size: 6.026vw;
      color: white;
      position: absolute;
      left: 18.161%;
      bottom: 6.5%;
    }
  }
}
