@import "../../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .steps {
    width: 89.371vw;
    height: 6.038vw;
    position: absolute;
    top: 9.239%;
    left: 6.763%;
    z-index: 30;

    &__line {
      width: 89.371vw;
      height: 0.5vw;
      background: #d5d5d5;
      position: absolute;
      bottom: 0;
    }

    &__cont {
      width: 25.053vw;
      height: 6.038vw;
      position: absolute;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__advance1 {
      width: 45%;
      height: 16%;
      background: $brand-color;
      border-radius: 2vw;
    }

    &__advance2 {
      width: 45%;
      height: 16%;
      background: $brand-color;
      border-radius: 2vw;
    }
  }
}
