@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .steps {
    width: 50.104vw;
    height: 2.291vw;
    position: absolute;
    top: 17.592%;
    left: 4.75%;

    &__line {
      width: 50.104vw;
      height: 0.12vw;
      background: #d5d5d5;
      position: absolute;
      bottom: 0;
    }

    &__cont {
      width: 17.343vw;
      height: 2.291vw;
      position: absolute;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__advance1 {
      width: 28%;
      height: 16%;
      background: $brand-color;
      border-radius: 2vw;
    }

    &__advance2 {
      width: 28%;
      height: 16%;
      background: $brand-color;
      border-radius: 2vw;
    }

    &__advance3 {
      width: 28%;
      height: 16%;
      background: $brand-color;
      border-radius: 2vw;
    }
  }
}
