@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .steps {
    width: 87.630vw;
    height: 4.557vw;
    background-color: yellow;
    position: absolute;
    top: 12.695%;
    left: 5.208%;
    z-index: 30;

    &__line {
      width: 87.630vw;
      height: .4vw;
      background: #d5d5d5;
      position: absolute;
      bottom: 0;
    }

    &__cont {
      width: 35.286vw;
      height: 4.557vw;
      background: blue;
      position: absolute;
      right: 0;
      
    }
  }
}
