@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .cart-product {
    width: 100%;
    height: 25%;
    position: relative;

    &__sub-container {
      height: 68.148%;
      width: 80.683%;
      position: absolute;
      top: 15.926%;
      right: 2%;
      border: 1px solid #bbbbbb;
      border-radius: .5vw;
    }

    &__image {
      width: 14.109%;
      position: absolute;
      top: 9%;
    }

    &__reference {
      margin: 0;
      font-family: $ubuntu;
      font-size: 1.2vw;
      position: absolute;
      top: 10%;
      left: 5%;
      color: #565656;

    }

    &__color {
      font-family: $ubuntu;
      font-size: 1.2vw;
      position: absolute;
      top: 27%;
      left: 5%; 
      color: #565656;
    }

    &__price {
      font-family: $ubuntu;
      font-size: 1.2vw;
      position: absolute;
      margin: 0;
      top: 50%;
      right: 5%; 
      color: #565656;
    }

    &__quantity-container {
      
      width: 18%;
      height: 50%;
      position: absolute;
      top: 30%;
      right: 35%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__add-less {
      color: $brand-color;
      font-size: 1.5vw;
      cursor: pointer;
    }

    &__quantity {
      font-family: $ubuntu;
      color: #565656;
      font-weight: 500;
    }

    &__close {
      color: #9b9b9b;
      font-size: 1.5vw;
      cursor: pointer;
      position: absolute;
      right: 1%;
      top: 5%;
    }
  }
}
