@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .form-square-big {
    width: 29.843vw;
    height: 41.927vw;
    background: $brand-color;
    position: absolute;
    top: 16.296%;
    right: 10.208%;
    border-radius: 1.614vw;
    z-index: 20;

    &__back {
      display: none;
    }

    &__forward {
      cursor: pointer;
      width: 19.947vw;
      height: 2.968vw;
      background: white;
      border-radius: 1.041vw;
      position: absolute;
      bottom: 5.962%;
      left: 16.579%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    &__forward:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      transition: all 0.2s ease-in;
    }

    &__text {
      color: $brand-color;
      font-family: $ubuntu;
      font-weight: 600;
      font-size: 1.197vw;
    }

    &__next {
      display: none;
    }

    &__text2 {
      display: none;
    }

    &__cards {
      width: 100%;
      height: 8.571%;
      position: absolute;
      top: 17.142%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      box-sizing: border-box;
      padding: 0 6%;
    }

    &__card {
      font-size: 4.2vw;
      color: white;
    }

    &__form {
      width: 85.689%;
      height: 27.049%;
      position: absolute;
      top: 31.428%;
      left: 7.155%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &__name {
      width: 98.5%;
      height: 25%;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
      padding: 0 2vw;
      border: none;
      border-radius: 0.5vw;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.301);
      outline: none;
      &::placeholder {
        color: white;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &:-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &::-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
    }

    &__number {
      width: 98.5%;
      height: 25%;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
      padding: 0 2vw;
      border: none;
      border-radius: 0.5vw;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.301);
      outline: none;
      letter-spacing: 1.5px;
      &::placeholder {
        color: white;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &:-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &::-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
    }

    &__security {
      width: 98.5%;
      height: 25%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__date {
      width: 47%;
      height: 100%;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
      padding: 0 2vw;
      border: none;
      border-radius: 0.5vw;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.301);
      outline: none;
      letter-spacing: 2px;
      &::placeholder {
        color: white;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &:-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &::-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
    }

    &__code {
      width: 47%;
      height: 100%;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
      padding: 0 2vw;
      border: none;
      border-radius: 0.5vw;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.301);
      outline: none;
      letter-spacing: 2px;
      &::placeholder {
        color: white;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &:-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &::-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
    }

    &__line {
      width: 83.689%;
      height: 0.08vw;
      background: white;
      position: absolute;
      top: 62.263%;
      left: 8.312%;
    }

    &__cont-summary {
      width: 83.689%;
      height: 19.645%;
      background: cyan;
      position: absolute;
      left: 8.312%;
      top: 63%;
    }
  }
}
