@import "../../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .price {
    font-size: 5.9vw;
    color: #565656;
    font-family: $ubuntu;
    font-weight: 600;
    z-index: 20;
    position: absolute;
    top: 43.982%;
    right: 7.246%;
  }
}
