@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .loader {
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    min-height: 56vw;
    position: relative;
    background-color: white;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
      width: 8vw;
      max-width: 300px;
      animation-name: logorotate;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      animation-delay: .3s;
      
    }

    @keyframes logorotate {
      0%{
        transform: rotate(45deg);

        
       }
    
       25%{
        transform: rotate(0deg);
        
        
       }
    
       50%{
        transform: rotate(-45deg);
        
        
       }
       
       75% {
        transform: rotate(0deg);
        
       }

      100% {
        transform: rotate(45deg);
        
      }
    }

    
  }
}
