@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .loader {
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    min-height: 56vw;
    position: relative;
    background-color: white;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
      width: 8vw;
      max-width: 300px;
      animation-name: logorotate;
      animation-iteration-count: infinite;
      animation-duration: 2s ;
      animation-timing-function: ease;
      animation-delay: .3s;
      
      
      
    }

    @keyframes logorotate {
     0%{
      transform: translate(0vw) rotate(0deg) translateY(0vw);
      
     }
     25%{
      transform: translate(8vw) rotate(45deg) translateY(4vw);
      
     }
     50%{
      transform: translate(0vw) rotate(0deg) translateY(0vw);
     }
     75%{
      transform: translate(-8vw) rotate(-45deg) translateY(4vw);
     }
     100%{
      transform: translate(0vw) rotate(0deg) translateY(0vw);
     }
    }

    
  }
}
