@import "../../Assets/Sass/variables";

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .shopping-cart {
        width: 100%;
        height: 100vh;
        min-height: 1024px;
        position: relative;
        margin: 0 auto;
        position: relative;
      }
}
