@import "../../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .order {
    width: 97%;
    height: 26%;
    margin: 6% 0;
    background: white;
    box-shadow: .8vw .8vw .8vw #56565667;
    border-radius: 2.83vw;
    box-sizing: border-box;
    position: relative;

    &__button-container {
      width: 90.644%;
      height: 46.363%;
      position: absolute;
      top: 47.263%;
      left: 4.677%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__button {
      width: 31%;
      height: 100%;
      box-sizing: border-box;
      background: $brand-color;
      border: 0.5vw solid $brand-color;
      border-radius: 4.83vw;
      z-index: 60;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__button--preparing {
      width: 31%;
      height: 100%;
      box-sizing: border-box;
      background: white;
      border: 0.5vw solid $brand-color;
      border-radius: 4.83vw;
      z-index: 60;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__line {
      width: 90.644%;
      height: 5%;
      background: $brand-color;
      position: absolute;
      left: 4.677%;
    }

    &__text {
      margin: 0;
      font-size: 3.5vw;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
    }

    &__text--preparing {
      margin: 0;
      font-size: 3.5vw;
      color: $brand-color;
      font-family: $ubuntu;
      font-weight: 500;
    }

    &__orderp {
      margin: 0;
      font-size: 3.5vw;
      color: #565656;
      font-family: $ubuntu;
      font-weight: 600;
      position: absolute;
      left: 4.677%;
      top: 15%;
    }

    &__orderID {
      margin: 0;
      font-size: 3.5vw;
      color: #565656;
      font-family: $ubuntu;
      font-weight: 400;
      position: absolute;
      left: 25.677%;
      top: 15%;
    }

    &__product-amount {
      margin: 0;
      font-size: 3.5vw;
      color: #565656;
      font-family: $ubuntu;
      font-weight: 500;
      position: absolute;
      right: 4.677%;
      top: 15%;
    }
  }
}
