@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .continue-square-big {
    width: 29.843vw;
    height: 41.927vw;
    background: $brand-color;
    position: absolute;
    top: 16.296%;
    right: 10.208%;
    border-radius: 1.614vw;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
      font-family: $ubuntu;
      color: white;
      font-weight: 500;
      font-size: 2vw;
      margin-top: 4vw;
      margin-bottom: 1vw;
    }
    &__text2 {
      font-family: $ubuntu;
      color: white;
      font-weight: 500;
      font-size: 1.3vw;
      margin: 0;
    }

    &__check-circle {
      font-size: 10vw;
      color: white;
    }

    &__button {
      cursor: pointer;
      border: none;
      outline: none;
      width: 19.947vw;
      height: 2.968vw;
      background: white;
      border-radius: 1.041vw;
      position: absolute;
      top: 80.962%;
      left: 16.579%;
      color: $brand-color;
      font-family: $ubuntu;
      font-weight: 600;
      font-size: 1.197vw;

      &:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        transition: all 0.2s ease-in;
      }
    }
  }
}
