@import "../../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .movable-container {
    width: 200vw;
    height: 155.314vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    transition: all 0.5s ease;
    transform: translateX(var(--translate));

    &__forward {
      cursor: pointer;
      width: 83.333vw;
      height: 12.318vw;
      background: $brand-color;
      border-radius: 4.83vw;
      position: absolute;
      bottom: 2.566%;
      left: 4.227%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    &__text {
      color: white;
      font-size: 4.347vw;
      font-family: $ubuntu;
      font-weight: 600;
    }

    &__cart {
      width: 86.956vw;
      height: 90.84vw;
      position: absolute;
      top: 20.659%;
      left: 2.777%;
      overflow-y: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0px;
      }
    }

    &__empty {
      font-weight: 400;
      font-family: $ubuntu;
      color: #565656;
      font-size: 4.347vw;
      position: absolute;
      left: 20%;
      top: 30%;
    }
  }
}
