@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .movable-container {
    width: 200vw;
    height: 83.886%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    transition: all 0.5s ease;
    transform: translateX(var(--translate));

    &__forward {
      cursor: pointer;
      width: 44.921vw;
      height: 6.64vw;
      background: $brand-color;
      border-radius: 2.604vw;
      position: absolute;
      bottom: 7.799%;
      left: 13.802%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    &__text {
      color: white;
      font-size: 2.994vw;
      font-family: $ubuntu;
      font-weight: 600;
    }

    &__cart {
      width: 87.239vw;
      height: 70.442vw;
      position: absolute;
      top: 20.605%;
      left: 2.604%;
      overflow-y: scroll;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0px;
      }
    }

    &__empty {
      font-weight: 400;
      font-family: $ubuntu;
      color: $brand-color;
      font-size: 3.645vw;
      position: absolute;
      left: 36%;
      top: 30%;
    }

    &__button {
      width: 35vw;
      height: 6vw;
      margin: 0;
      outline: none;
      border-radius: 2.2vw;
      background: $brand-color;
      border: none;
      position: absolute;
      left: 33%;
      top: 50%;
      cursor: pointer;
      color: white;
      font-family: $ubuntu;
      font-weight: 600;
      font-size: 2.397vw;
      transition: all 0.2s ease-in;
    }
  }
}
