@import "../../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .Store {
    width: 100vw;
    height: calc(100vh - 8vh);
    min-height: 568px;
    position: relative;
    margin: 0 auto;
    position: relative;
  }
}
