@import "../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .cont-cart {
    width: 89.13vw;
    height: 89.855vw;
    background: red;
    position: absolute;
    top: 35.597%;
    left: 5.797%;
    z-index: 10;

    &__checkout {
      cursor: pointer;
      width: 83.333vw;
      height: 16.318vw;
      border-radius: 8vw;
      background: $brand-color;
      position: absolute;
      top: 110%;
      left: 3.5%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__text {
      color: white;
      font-size: 4.864vw;
      font-weight: 500;
      font-family: $ubuntu;
    }

    &__arrow {
      color: white;
      font-size: 6.864vw;
      position: absolute;
      right: 20%;
    }
  }
}
