@import "../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .thumbnail {
    width: 36.057vw;
    height: 16.425vw;
    z-index: 10;
    position: absolute;
    top: 54.211%;
    right: 1.5%;
    display: flex;
    justify-content: space-evenly;

    &__img1 {
      width: 16.425vw;
      height: 16.425vw;
      border-radius: 2vw;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 2px 2px #a1a1a1;
    }

    &__img2 {
      width: 16.425vw;
      height: 16.425vw;
      border-radius: 2vw;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 2px 2px #a1a1a1;
    }

    &__picture {
      max-width: 80%;
    }
  }
}
