@import "../../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .form-square {
    width: 86.231vw;
    height: 121.014vw;
    background: $brand-color;
    position: absolute;
    right: 3.381%;
    bottom: 6.998%;
    border-radius: 7.487vw;

    &__back {
      cursor: pointer;
      font-size: 9.864vw;
      color: white;
      position: absolute;
      left: 17.899%;
      bottom: 5.264%;
    }

    &__text {
      display: none;
    }

    &__arrow {
      display: none;
    }

    &__next {
      cursor: pointer;
      width: 33.816vw;
      height: 8.454vw;
      background: white;
      border-radius: 4.83vw;
      position: absolute;
      bottom: 5.988%;
      right: 14.005%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    &__text2 {
      color: $brand-color;
      font-family: $ubuntu;
      font-weight: 600;
      font-size: 3.14vw;
    }

    &__cards {
      width: 100%;
      height: 8.582%;
      position: absolute;
      top: 6.966%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      box-sizing: border-box;
      padding: 0 6%;
    }

    &__card {
      font-size: 11.3vw;
      color: white;
    }

    &__form {
      width: 85.689%;
      height: 35.049%;
      position: absolute;
      top: 21.428%;
      left: 7.155%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &__name {
      width: 98.5%;
      height: 25%;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
      padding: 0 4vw;
      border: none;
      border-radius: 2vw;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.301);
      outline: none;
      &::placeholder {
        color: white;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &:-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &::-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
    }

    &__number {
      width: 98.5%;
      height: 25%;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
      padding: 0 4vw;
      border: none;
      border-radius: 2vw;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.301);
      outline: none;
      letter-spacing: 1.5px;
      &::placeholder {
        color: white;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &:-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &::-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
    }

    &__security {
      width: 98.5%;
      height: 25%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__date {
      width: 47%;
      height: 100%;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
      padding: 0 4vw;
      border: none;
      border-radius: 2vw;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.301);
      outline: none;
      letter-spacing: 2px;
      &::placeholder {
        color: white;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &:-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &::-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
    }

    &__code {
      width: 47%;
      height: 100%;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
      padding: 0 4vw;
      border: none;
      border-radius: 2vw;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.301);
      outline: none;
      letter-spacing: 1.5px;
      &::placeholder {
        color: white;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &:-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
      &::-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $ubuntu;
        font-weight: 500;
      }
    }

    &__line {
      width: 83.689%;
      height: 0.3vw;
      background: white;
      position: absolute;
      top: 61.263%;
      left: 8.312%;
    }
  }
}
