@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .big-picture {
    width: 38.327vw;
    max-width: 735.88px;
    height: 38.327vw;
    max-height: 735.88px;
    z-index: 10;
    position: absolute;
    right: 0%;
    top: 0%;
  }

  &__img {
    width: 100%;
  }
}
