@import "../../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .Gray-Column {
    height: calc(100vh - 8vh);
    width: 38.888vw;
    min-height: 736px;
    position: absolute;
    right: 0;
    top: 0;
    background: $secundary-color;
  }
}
