@import "../../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .continue-square {
    width: 86.231vw;
    height: 121.014vw;
    background: $brand-color;
    position: absolute;
    right: 3.381%;
    top: 12.998%;
    border-radius: 7.487vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
      font-family: $ubuntu;
      color: white;
      font-weight: 500;
      font-size: 5.8vw;
      margin-top: 10vw;
    }

    &__text2 {
      font-family: $ubuntu;
      color: white;
      font-weight: 500;
      font-size: 3.8vw;
      margin: 0;
    }

    &__check-circle {
      font-size: 25vw;
      color: white;
    }
  }
}
