@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .continue-square {
    width: 63.02vw;
    height: 88.541vw;
    background: $brand-color;
    position: absolute;
    right: 9.244%;
    bottom: 5.005%;
    border-radius: 4.036vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
      font-family: $ubuntu;
      color: white;
      font-weight: 500;
      font-size: 4vw;
      margin-top: 10vw;
    }

    &__text2 {
      font-family: $ubuntu;
      color: white;
      font-weight: 500;
      font-size: 2.8vw;
      margin: 0;
    }

    &__check-circle {
      font-size: 20vw;
      color: white;
    }

    &__button {
      cursor: pointer;
      width: 44.816vw;
      height: 7.454vw;
      background: white;
      border-radius: 4.83vw;
      position: absolute;
      top: 80%;
      right: 14.005%;
      border: none;
      outline: none;
      font-family: $ubuntu;
      color: $brand-color;
      font-weight: 600;
      font-size: 3.2vw;
    }
  }
}
