@import "../../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .description {
    width: 47.101vw;
    height: 16.425vw;
    background: red;
    position: absolute;
    top: 0%;
    left: 3.35%;
  }
}
