@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .description {
    width: 41.015vw;
    height: 19.921vw;
    position: absolute;
    top: 0%;
    left: 2.539%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__h2 {
      font-size: 3.645vw;
      font-family: $ubuntu;
      font-weight: 600;
      margin: 0;
      color: $brand-color;
    }
  }
}
