@import "../../../Assets/Sass/variables";

@media only screen and (max-width: 500px) {
  .order-details-square {
    width: 186.710vw;
    height: 63.086vw;
    background: $brand-color;
    position: absolute;
    left: 6.642%;
    bottom: 0;
    border-radius: 4.830vw 4.830vw 0 0;
    z-index: 40;
    transition: all .3s ease;
    transform: translateX(var(--move));

    &__line1 {
      width: .3%;
      height: 70.220%;
      background: white;
      position: absolute;
      top: 14.797%;
      left: 10.643%;
      z-index: 50;
    }

    &__line2 {
      width: .3%;
      height: 70.220%;
      background: white;
      position: absolute;
      top: 14.797%;
      right: 10.643%;
      z-index: 50;
    }

    &__arrow-left {
      cursor: pointer;
      font-size: 12vw;
      color: white;
      position: absolute;
      top: 40.931%;
      left: 3.234%;
    }

    &__arrow-right {
      cursor: pointer;
      font-size: 12vw;
      color: white;
      position: absolute;
      top: 40.931%;
      right: 3.234%;
    }

    &__camp1 {
      width: 18.370%;
      height: 66.108%;
      position: absolute;
      top: 16.838%;
      left: 13.8513%;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
    }

    &__data1 {
      width: 16.370%;
      height: 66.108%;
      position: absolute;
      top: 16.838%;
      left: 30.3513%;
      display: flex;
      flex-direction: column;
      text-align: right;
      justify-content: space-between;
    }

    &__camp2 {
      width: 18.370%;
      height: 66.108%;
      position: absolute;
      top: 16.838%;
      right: 28.3%;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
    }

    &__data2 {
      width: 16.370%;
      height: 66.108%;
      position: absolute;
      top: 16.838%;
      right: 13.8513%;
      display: flex;
      flex-direction: column;
      text-align: right;
      justify-content: space-between;
    }

    &__text1 {
      margin: 0;
      font-size: 3.5vw;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
    }

    &__text2 {
      margin: 0;
      font-size: 3.5vw;
      color: white;
      font-family: $ubuntu;
      font-weight: 400;
    }

    &__text3 {
      margin: 0;
      font-size: 3.5vw;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
    }

    &__text4 {
      margin: 0;
      font-size: 3.5vw;
      color: white;
      font-family: $ubuntu;
      font-weight: 400;
    }
  }
}
