@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .order-details-square {
    width: 38.281vw;
    height: 100vh;
    max-height: 1080px;
    min-height: 56vw;
    max-width: 735px;
    position: absolute;
    right: 0;
    top: 0;
    background: $brand-color;
    z-index: 40;

    &__line1 {
      width: 24.375vw;
      height: .15vw;
      background: white;
      position: absolute;
      top: 21%;
      right: 18.503%;
      z-index: 50;
    }

    &__line2 {
      width: 24.375vw;
      height: .15vw;
      background: white;
      position: absolute;
      top: 54.074%;
      right: 18.503%;
      z-index: 50;
    }

    &__arrow-left {
      display: none;
    }

    &__arrow-right {
      display: none;
    }

    &__camp1 {
      width: 40.408%;
      height: 26.944%;
      background: cyan;
      position: absolute;
      top: 24.129%;
      left: 17.843%;
    }

    &__data1 {
      width: 23.265%;
      height: 26.944%;
      background:rgb(0, 139, 74);
      position: absolute;
      top: 24.129%;
      left: 58.387%;
    }

    &__camp2 {
      width: 40.408%;
      height: 26.944%;
      background: cyan;
      position: absolute;
      top: 57.129%;
      left: 17.843%;
    }

    &__data2 {
      width: 23.265%;
      height: 26.944%;
      background:rgb(0, 139, 74);
      position: absolute;
      top: 57.129%;
      left: 58.387%;
    }
  }
}
