@import "../../../Assets/Sass/variables";

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .order-details-square {
    width: 88.735vw;
    height: 39.345vw;
    background: $brand-color;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 2.604vw 0 0;
    z-index: 40;

    &__line1 {
      width: .4%;
      height: 79.326%;
      background: white;
      position: absolute;
      top: 9.5972%;
      right: 49.890%;
      z-index: 50;
    }

    &__line2 {
      display: none;
    }

    &__arrow-left {
      display: none;
    }

    &__arrow-right {
      display: none;
    }

    &__camp1 {
      width: 24.075%;
      height: 61.223%;
      position: absolute;
      top: 9.994%;
      left: 3.595%;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
    }

    &__data1 {
      width: 19.075%;
      height: 61.223%;
      position: absolute;
      top: 9.994%;
      left: 27.953%;
      display: flex;
      flex-direction: column;
      text-align: right;
      justify-content: space-between;
    }

    &__camp2 {
      width: 24.075%;
      height: 61.223%;
      position: absolute;
      top: 9.994%;
      right: 23.595%;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
    }

    &__data2 {
      width: 21.075%;
      height: 61.223%;
      position: absolute;
      top: 9.994%;
      right: 4.595%;
      display: flex;
      flex-direction: column;
      text-align: right;
      justify-content: space-between;
    }

    &__text1 {
      margin: 0;
      font-size: 2.2vw;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
    }

    &__text2 {
      margin: 0;
      font-size: 2.2vw;
      color: white;
      font-family: $ubuntu;
      font-weight: 400;
    }

    &__text3 {
      margin: 0;
      font-size: 2.2vw;
      color: white;
      font-family: $ubuntu;
      font-weight: 500;
    }

    &__text4 {
      margin: 0;
      font-size: 2.2vw;
      color: white;
      font-family: $ubuntu;
      font-weight: 400;
    }
  }
}
