@import "../../Assets/Sass/variables";

@media only screen and (min-width: 1000px) {
  .balls {
    width: 7.812vw;
    max-width: 150px;
    height: 1.875vw;
    max-height: 36px;
    position: absolute;
    top: 62.722%;
    left: 53.593%;
    display: flex;
    justify-content: space-between;

    &__color1 {
      cursor: pointer;
      height: 1.875vw;
      width: 1.875vw;
      background: var(--color1);
      border-radius: 50%;
    }

    &__color2 {
      cursor: pointer;
      height: 1.875vw;
      width: 1.875vw;
      background: var(--color2);
      border-radius: 50%;
    }

    &__color3 {
      cursor: pointer;
      height: 1.875vw;
      width: 1.875vw;
      background: var(--color3);
      border-radius: 50%;
    }
  }
}
